body {
    background-color: white;
}
.page-footer{
    text-align:center;
}
.nav {
   position: relative;
   padding-left: 600px;
}
.logo{
    width: 200px;
        display: block;
    margin: 0 auto;
}
.welcome{
    text-align:center;
    font-family:'Courier New';
    font-weight:bold;
    color:#0094ff;
}