
<h2>Welcome to Son Of Cod Seafood</h2>

<p>@Html.ActionLink("Click Here", "Create", "Subscriber") to sign up for our Newsletter</p>
<hr />

    <p>@Html.ActionLink("Admin Register", "Register", "Account")</p>
    <p>@Html.ActionLink("Admin Log in", "Login", "Account")</p>
