@{
    ViewData["Title"] = "Son of Cod";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Welcome to Son Of Cod Seafood</h2>

<p>Nam id nisi urna. Nam commodo blandit urna sit amet euismod. Proin libero libero, egestas non mauris non, vulputate porta justo. Fusce vitae sapien lorem. Sed condimentum vestibulum lacus eget scelerisque. Mauris pretium lorem in mollis tristique. Vestibulum efficitur tellus in porttitor sollicitudin. Sed egestas, dolor eget hendrerit hendrerit, arcu ligula ultricies velit, at gravida augue lacus eu quam. Etiam vitae sapien nisl. Curabitur vel mauris nec nisl sodales pharetra. Suspendisse potenti. Vestibulum auctor erat nec sodales blandit. In mattis velit in augue facilisis suscipit. Cras mollis felis sed pharetra posuere. Nam eu arcu lectus. Nullam bibendum mollis ipsum, ut eleifend purus elementum sed.

In pharetra turpis sed placerat fermentum. Ut imperdiet mollis nibh interdum eleifend. Suspendisse enim diam, cursus vitae ante eu, accumsan bibendum mi. Etiam volutpat vitae nisl vitae fermentum. Vivamus in mi hendrerit, porttitor justo at, dapibus dui. Nam quis lectus non nibh luctus varius. Sed pharetra, arcu a congue pulvinar, risus urna fringilla magna, et eleifend dolor libero a metus. Cras vitae mauris aliquam, euismod diam sit amet, scelerisque nisi. Vivamus euismod tincidunt pellentesque. Nam nec sapien vulputate, bibendum nunc vel, placerat odio. Sed mattis posuere massa, eget molestie magna. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Interdum et malesuada fames ac ante ipsum primis in faucibus. Etiam ipsum quam, dapibus eu posuere id, euismod at nunc. Sed fringilla, tellus sed ullamcorper tempus, lectus magna molestie tortor, quis porta ante sem id ligula.</p>

<p>@Html.ActionLink("Click Here", "Create", "Subscriber") to sign up for our Newsletter</p>
<hr />


