<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/bootstrap/dist/css/bootstrap.css" rel="stylesheet" type="text/css" />
    <link href="~/css/styles.css" rel="stylesheet" type="text/css" />
    <title>Son Of Cod</title>
</head>
<body>
    <img class="logo" src="http://www.yudesigns.net/wp-content/uploads/2013/01/Seafood-Home.png">
    <h1 class="welcome">Son of Cod Seafood</h1>
    <nav class="navbar">
        <div class="container-fluid">
            <div class="navbar-header">
                <ul class="nav nav-pills">
                    <li class="nav-item">
                        <a class="nav-link active" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/Subscriber/Create">Newsletter</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" >About Us</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link">Products</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container">

        @RenderBody()
    </div>
</body>
<footer class="page-footer">
<a href="/Account/Login">Admin</a>
</footer>
</html>